.cart {
    position: sticky;
    top: 0;
    width: 515px;
    height: 914px;
    padding: 10px 5px;
    overflow: hidden;

}

.personal-info {
    display: flex;
}

.personal-info img {

    width: 88px;
    height: 88px;

}


.btn-cart2 {
    width: 70%;
    background: #d59bf6;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cart2 .btn-text {
    margin-right: 5px;

}

.btn-cart2:hover {
    background-color: orange;
}

/* for-small-devices */
@media screen and (max-width:700px) {
    .activity-container {
        grid-template-columns: 1fr;
    }
}

/* for-tablet-devices */

@media (min-width: 701px) and (max-width : 1200px) {
    .activity-container {
        grid-template-columns: repeat(2, 1fr);
    }
}