.header img {
    height: 50px;
    margin-top: 40px;
}

.header {
    text-align: left;
    margin: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-items: center;
}

.header h2 {
    margin: 10px;
    padding: 20px;
}

/* .header nav {
    background-color: black;
    line-height: 40px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;
}

nav a:hover {
    background-color: gray;
    text-decoration: none;
} */